{% extends "base.html "%}
{% load static %}

{% block content %}

  <h2>Length Converter</h2>
  <label for="length-input">Enter Length:</label>
  <input type="number" id="length-input" name="length" placeholder="Enter length">
  <label for="length-from">From:</label>
  <select id="length-from">
    <option value="mm">millimeter</option>
    <option value="cm">centimeter</option>
    <option value="m">meter</option>
    <option value="km">kilometer</option>
    <option value="in">inch</option>
    <option value="ft">foot</option>
    <option value="yd">yard</option>
    <option value="mi">mile</option>
  </select>
  <label for="length-to">To:</label>
  <select id="length-to">
    <option value="mm">millimeter</option>
    <option value="cm">centimeter</option>
    <option value="m">meter</option>
    <option value="km">kilometer</option>
    <option value="in">inch</option>
    <option value="ft">foot</option>
    <option value="yd">yard</option>
    <option value="mi">mile</option>
  </select>
  <button type="submit">Convert</button>
  <div class="result">Result: {{ result }}</div>

{% endblock %}